@page
@model ErrorModel
@{
    ViewData["Title"] = "Empleados";
}

<div class="container">
    <h1 style="margin-top: 160px">@ViewData["Title"]</h1>

    <p style="color:lightgray">Aquí va el CRUD.</p>
    
</div>
