@page
@model QKiz.Pages.EmpleadosModel
@{
    ViewData["Title"] = "Registra tu solicitud aquí:";
}

<div class="container">
    <h1 style="margin-top: 160px">@ViewData["Title"]</h1>
    <br>
    <form method="POST">
        <div class="row">
            <div class="col">
                <label for="Empleado.Nombre" class="form-label">Nombre(s): <sup class="text-danger">*</sup></label>
                <input type="text" asp-for="Empleado.Nombre" class="form-control" placeholder="Pedro" required="">
            </div>
            <div class="col">
                <label for="Empleado.Apellidop" class="form-label">Apellido Paterno: <sup class="text-danger">*</sup></label>
                <input type="text" asp-for="Empleado.Apellidop" class="form-control" placeholder="Gonzalez" required="">
            </div>
            <div class="col">
                <label for="Empleado.Apellidom" class="form-label">Apellido Materno: <sup class="text-danger">*</sup></label>
                <input type="text" asp-for="Empleado.Apellidom" class="form-control" placeholder="Perez" required="">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label for="Empleado.Sexo_id" class="form-label">Sexo: <sup class="text-danger">*</sup></label>
                <select asp-for="Empleado.SexoId" class="form-control" required="">
                    <option value="">Selecciona una opción</option>
                    <option value="1">Masculino</option>
                    <option value="2">Femenino</option>
                    <option value="3">No especificar</option>
                </select>
            </div>
            <div class="col">
                <label for="Empleado.NSS" class="form-label">Número de Seguro (NSS): <sup class="text-danger">*</sup></label>
                <input type="text" asp-for="Empleado.Nss" class="form-control" placeholder="Ejemplo:2158749" required="">
            </div>
            <div class="col">
                <label for="Empleado.RFC" class="form-label">RFC: <sup class="text-danger">*</sup></label>
                <input type="text" asp-for="Empleado.Rfc" class="form-control" placeholder="xxxx901025al0" required="">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label for="Empleado.Telefono" class="form-label">Teléfono: <sup class="text-danger">*</sup></label>
                <input type="text" asp-for="Empleado.Telefono" class="form-control" placeholder="3322110099" required="">
            </div>
            <div class="col">
                <label for="Empleado.Email" class="form-label">Correo Electronico: <sup class="text-danger">*</sup></label>
                <input type="text" asp-for="Empleado.Email" class="form-control" placeholder="pedro@gmail.com" required="">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-dark">Enviar</button>
            </div>
        </div>
    </form>
    @if (ViewData["ConnectionMessage"] != null)
    {
        <div class="row">
            <div class="col">
                <p>@ViewData["ConnectionMessage"]</p>
            </div>
        </div>
    }
</div>
